<div class="header">
  <div>
    <img class="logo" src="assets/image/petz.jpg" alt="logo" (click)="toggleHome()">
  </div>
  <div class="icon">
    <div class="icon-display">
      <i
        class="po-icon po-icon-home color icon-size po-m-1"
        (click)="toggleHome()"
        [class.active]="aba == 'home'"
        ></i>
    </div>
    <div class="icon-display">
      <i
        class="po-icon po-icon-cart color icon-size po-m-1"
        (click)="toggleProduct()"
        [class.active]=" aba === 'product'"
        ></i>
    </div>
    <div class="icon-display">
      <i
        class="po-icon po-icon-user-add color icon-size po-m-1"
        [class.active]=" aba === 'owner'"
        (click)="toggleOwner()"
        ></i>
    </div>
    <div class="icon-display">
      <i class="po-icon po-icon-exit color icon-exit po-m-1" (click)="toggleExit()"></i>
    </div>
  </div>


</div>
