<div class="container">
  <po-container>

    <div class="text">
      <p>Pet</p>
    </div>
    <div class="display">
      <app-pet-species></app-pet-species>
    </div>
    <po-dynamic-form
      #dynamicForm
      p-auto-focus="name"
      [p-fields]="fields"
      [p-validate-fields]="validateFields"
      [p-validate]="this.onChangeFields.bind(this)"
      [p-value]="person"
      [p-load]="onLoadFields.bind(this)"
    >
    </po-dynamic-form>

    <div>
      <po-button
        class="po-ml-3"
        p-label="Save"
        (p-click)="dataSave(this.dynamicForm.value)"
        [p-disabled]="!dynamicForm?.form?.valid"
        
      >
      </po-button>
      <po-button
        class="po-ml-3 colorButton"
        p-label="Cancel"
        (p-click)="cancel()"
      ></po-button>
    </div>
  </po-container>
</div>
