<!-- <po-modal #modal p-title="Cadastre-se para ter acesso ao PETZ!">
  <po-container>
    <form #ownerForm="ngForm" (ngSubmit)="onSubmit(ownerForm)">
      <div>
        <po-input
          p-label="Nome"
          [ngModel]="owner.name"
          >
        </po-input>

      </div>


      <div>
        <label for="rua">Rua</label>
        <input type="text" name="rua" ngModel>
      </div>
      <button type="submit">Avançar</button>
    </form>
  </po-container>
  <po-modal-footer [p-disabled-align]="false">
    <po-button [p-danger]="true" class="po-ml-3 colorButton" p-label="Cancel" (p-click)="modal.close()"></po-button>
  </po-modal-footer>
</po-modal>

<p class="register" p-label="Cadastre-se" (click)="modal.open()">Cadastre-se</p> -->
