
.card
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  width: 150px
  height: 150px
  background-color: #e0f0f0
  border: 1px solid #6ab8c8
  border-top: 1px solid #a3d1da
  border-left: 1px solid #a3d1da
  border-radius: 20px
  box-shadow: 8px -1px 13px 3px rgba(117,117,117,0.39)
  transform: translateY(100px)
  transition: all 0.3s ease-in-out
  opacity: 0.7
  p
    font-size: 0.8rem
    font-weight: 600
    color: #0c4652
    // margin: 0
    // padding: 0
    text-align: center
    // text-transform: uppercase
    letter-spacing: 1px



.card:hover
  transform: translateY(0px)
  background-color: #3798ab
  color: #f1f7f7
  cursor: pointer
  opacity: 1
  p
    color: #f1f7f7


  ///
